/* --primary-color: #396E94;
  --secondary-color: #E7C24F;
  --accent1-color: #A43312;
  --accent2-color: white;
*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Merienda');

header {
    display: grid;
    grid-template-columns: 200px auto;   
    align-items: center;
    padding-bottom: 1em; 
}


body{
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em; 
}

.h1 {
   text-align: left;
   text-shadow: rgb(20, 20, 19);
   border: 0px solid #61c2ad;
   border-radius: 5px 5px 5px 5px;
   width: 850px;
   padding: 50px;
   background-color: #61c2ad;
   color:rgb(14, 13, 13);
   margin-left: 20px 0, 0, 0;


}

.underline{
  grid-area: 'combine';
  grid-column: 1/6;
}

.img {
 margin-top: 30px;
 border: 5px solid gray;
 width: 200px;
 border-radius: 5px 5px 5px 5px;
 padding: 2px;
 margin-left: 550px;


}


footer {
  display: block;
  text-align: left;
   text-shadow: rgb(20, 20, 19);
   border: 0px solid #61c2ad;
   border-radius: 5px 5px 5px 5px;
   width: 850px;
   padding: 20px;
   background-color: #61c2ad;
   color:rgb(14, 13, 13);
   margin-left: 20px 0, 0, 0;

}