/* --primary-color: #396E94;
  --secondary-color: #E7C24F;
  --accent1-color: #A43312;
  --accent2-color: white;
*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Merienda');

header {
    display: grid;
    grid-template-columns: 200px auto;   
    align-items: center;
    padding-bottom: 1em; 
}


body{
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em; 
}

.h1 {
   text-align: center;
   text-shadow: wheat;
   border: 1px solid black;
   border-radius: 5px 5px 5px 5px;
   width:fit-content;
   padding: 1px;


}