* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    
  }
  
  /* Style for the header */
  .header {
    grid-area: header;
    background-color:#0080ff;
    padding: 1px;
    text-align: center;
    font-size: 36px;
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-column-gap: 10px;
    max-width: 960px;
    margin: auto;
    height: 100%;
    background-color: rgba(155, 193, 243, 0.432);
    grid-template-areas: 
      'header header header header header header' 
      'left left middle middle right right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if I want gap between the columns */
  } 
  
  .left,
  .middle,
  .right {
    padding: 10px;
    margin: auto;
    
  /* Should be removed. Only for demonstration */
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
    
  }

  .column {
    display:inline-block;
    width: 32%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style for the footer */
  .footer {
    grid-area: footer;
    display: block;
    background-color: #0080ff;
    padding: 1px;
    text-align: center;
    border: 0px solid #0080ff;
    color:#f6faf7;
   
  }

  .update {
	text-align: center;
	color: orange;
}


.img {
    width: 290px;
    border: 2px solid rgb(24, 23, 23);
    border-radius: 10px 10px 0px 0px;
    box-shadow: cornsilk;
   
   }

.responsive {
    width: 100%;
    height: auto;
  }


.text{
    margin: 70px;
    text-align: center;

   }

.h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
   }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 960px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }

@media only screen and (min-width: 18.125em) {
        main {
            grid-template-columns: 1fr;
        }
 @media only screen and (min-width: 37.5em) {
        main {
            grid-template-columns: 1fr 1fr;
        }
    
@media only screen and (min-width: 60em) {
        main {
            grid-template-columns: 1fr 1fr 1fr;
        }