/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 50%; -ms-text-size-adjust: 50%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);

}


nav{
    background-color: #10BBFB;
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    flex-flow: column;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

nav ul li a {
    display: block;
    padding: .8rem 2;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top:  1px solid rgba(0, 0, 0, 0.3);
   
}

nav ul li.active a{
    background-color:#074e91;
    color: #ffffff;
}

nav ul li a:hover {
    background-color: #0bc9cd;
}

nav ul.hide{
    display: none;
}

.top-nav-left{
    display: flex;
    text-align: left;
    font-size: .5rem;
    background-color:  rgb(98, 221, 215);
    padding: 10px;
    color:  #023655;
    
}

body {
    font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
	padding: 0;
    margin: 0;
    
}

header {
	background-color: rgb(98, 221, 215);
	padding: 3px 0;
	display: flex;
	align-items: center;
    flex-flow: column;
    text-align: center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.headings h1 {
 	font-size: 1.6rem;
    margin: 0 0 0 17px;
    color: #023655;
    font: ubuntu;
       
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: rgb(6, 59, 109);
    text-align: center;
	font-size: .9rem;
}

.centerfit {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
.article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

.article img {
    display: flex;
    float: right;
    border-radius: 8px;
}

#footerfit {
    max-width: 960px;
    margin-top: 0px;
    margin: auto;
    background-color: #0b837d;
    
}

.iframe {
    display: flex;
    float: right;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    margin-top: 0;
    width: 350px;
}

footer {
    display: block;
    text-align: center;
    font-size: 14px;
    text-shadow: rgb(243, 243, 241);
    border: 0px solid #0b837d;
    width: auto;
    padding: 10px;
    background-color: #0b837d;
    color:rgb(255, 255, 255);
    margin-left: 20px 0, 0, 0;
  
  }


  .herodiv {margin: .5rem auto;
    position: relative;
    
}
    
  h2, p {margin: 0;

}
  
  .stats {
      position: absolute;
      top: -350px;
      right: 2rem;
      float: right;
      background: radial-gradient(#eee, #17e690);
      border: 1px solid #000;
      padding: .5rem;
      box-shadow: 0 0 30px #111;
      opacity: .8;
    
      
  }

  .page {
    display: block;
    text-align: center;
    background: radial-gradient(#eee, #07edf5);
    padding: 1.8rem;
    box-shadow: 0 0 30px rgb(14, 13, 13);
    opacity: .8;
    font-size: 2.8em;
    color: rgba(2, 2, 2, 0.897);
    
}


  aside.announcement {
    background-color: #068f61;
    color: white;
    padding: 2em;
    margin-top: 0;
    text-align: center;
  }
  
  aside#pancakes.announcement.hide {
    display: none;
  }
  
.img {
    display: flex;
    width: auto;
    
}

* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  background-color: #eee;
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  font-size: 12px;
  color: #969696;
}
h1 {
  font-size: 2em;
  text-align: center;
  margin: 10px;
  font-family: Nunito, sans-serif;
}
.gallery {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;
  padding: 10px;
}
.gallery .image {
  grid-area: span 1/span 1;
}
.gallery .image--horizontal {
  grid-area: span 1/span 2;
}
.gallery .image--vertical {
  grid-area: span 2/span 1;
}
.gallery .image--big {
  grid-area: span 2/span 2;
}
@media (max-width: 400px) {
  .gallery .image--horizontal,
  .gallery .image--vertical,
  .gallery .image--big {
    grid-area: span 1/span 1;
  }
}
.gallery img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  background-color: #000;
}
.gallery img.lazy-image {
  opacity: 0.1;
  will-change: opacity;
  transition: all 0.3s;
}
.gallery img.lazy-image.loaded {
  opacity: 1;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix::before {
    content: "";
    display: table;
    clear: both;
  }







