@charset "UTF-8";

        /* not necessary */
        /* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
        body {
            font-size: 16px;
            font-family: "Sansita", Ubuntu, sans-serif;
        }

        /* phone or baseline views **************************/
        header,
        footer {
            background-color: rgb(24, 150, 108);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: white;
        }

        header,
        nav,
        main,
        footer {
            max-width: 960px;
            margin: 0 auto;
        }

        h1 {
            font-size: 2rem;
            color: white;
            text-align: center;
        }

        h2 {
            color: #536878;
        }

        nav {
            background-color: #36454f;
            text-align: center;
            box-shadow: 0 2px 15px gray;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav ul li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 0.75rem;
            text-decoration: none;
            font-size: 0.95rem;
        }

        nav a:hover {
            background-color: rgb(141, 243, 213);
            color: #36454f;
        }

        .active {
            color: yellow;
        }

        main {
            display: grid;
            grid-template-columns: 1fr;
            font-size: 0.8rem;
        }

        main article {
            margin: 0.5rem;
            border: 1px solid #bbb;
            padding: 0 1rem;
            background-color: #eee;
        }

        main picture {
            display: none;
            margin: 0.5rem;
        }

        footer {
            flex: 0 1 100%;
            height: 2rem;
        }

        ul {
            margin: 0px;
            padding: 0px;
        }
        .footer-section {
          background: #151414;
          position: relative;
        }
        .footer-cta {
          border-bottom: 1px solid #373636;
        }
        .single-cta i {
          color: #ff5e14;
          font-size: 30px;
          float: left;
          margin-top: 8px;
        }
        .cta-text {
          padding-left: 15px;
          display: inline-block;
        }
        .cta-text h4 {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 2px;
        }
        .cta-text span {
          color: #757575;
          font-size: 15px;
        }
        .footer-content {
          position: relative;
          z-index: 2;
        }
        .footer-pattern img {
          position: absolute;
          top: 0;
          left: 0;
          height: 330px;
          background-size: cover;
          background-position: 100% 100%;
        }
        .footer-logo {
          margin-bottom: 30px;
        }
        .footer-logo img {
            max-width: 200px;
        }
        .footer-text p {
          margin-bottom: 14px;
          font-size: 14px;
              color: #7e7e7e;
          line-height: 28px;
        }
        .footer-social-icon span {
          color: #fff;
          display: block;
          font-size: 20px;
          font-weight: 700;
          font-family: 'Poppins', sans-serif;
          margin-bottom: 20px;
        }
        .footer-social-icon a {
          color: #fff;
          font-size: 16px;
          margin-right: 15px;
        }
        .footer-social-icon i {
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 38px;
          border-radius: 50%;
        }
        .facebook-bg{
          background: #3B5998;
        }
        .twitter-bg{
          background: #55ACEE;
        }
        .google-bg{
          background: #DD4B39;
        }
        .footer-widget-heading h3 {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 40px;
          position: relative;
        }
        .footer-widget-heading h3::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -15px;
          height: 2px;
          width: 50px;
          background: #ff5e14;
        }
        .footer-widget ul li {
          display: inline-block;
          float: none;
          width: 50%;
          margin-bottom: 12px;
        }
        .footer-widget ul li a:hover{
          color: #ff5e14;
        }
        .footer-widget ul li a {
          color: #878787;
          text-transform: capitalize;
        }
        .subscribe-form {
          position: relative;
          overflow: hidden;
        }
        .subscribe-form input {
          width: 100%;
          padding: 14px 28px;
          background: #2E2E2E;
          border: 1px solid #2E2E2E;
          color: #fff;
        }
        .subscribe-form button {
            position: absolute;
            right: 0;
            background: #ff5e14;
            padding: 13px 20px;
            border: 1px solid #ff5e14;
            top: 0;
        }
        .subscribe-form button i {
          color: #fff;
          font-size: 22px;
          transform: rotate(-6deg);
        }
        .copyright-area{
          background: #202020;
          padding: 25px 0;
        }
        .copyright-text p {
          margin: 0;
          font-size: 14px;
          color: #878787;
        }
        .copyright-text p a{
          color: #ff5e14;
        }
        .footer-menu li {
          display: inline-block;
          margin-left: 20px;
        }
        .footer-menu li:hover a{
          color: #ff5e14;
        }
        .footer-menu li a {
          font-size: 14px;
          color: #878787;
        }
        /* Tablet Views ******************************/
        @media only screen and (min-width: 37.5em) {

            /* Horizontal Menu Examples */
            /* Flex *********************/
            nav ul {
                display: flex;
            }

            nav ul li {
                flex: 1 1 100%;
            }


            /* Grid *********************/
            /*			nav ul { 
				display: flex;*/

            /*grid-template-columns: repeat(5, 1fr);*/
            grid-template-columns repeat(auto-fill, minmax(130px, 1fr));
        }

        /* Inline-Block             */
        /*
			nav li {display: inline-block;}
	*/

        /* Float                    */
        /*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

        /*******************************************************/

        nav a {
            font-size: 1rem;
        }

        main {
            grid-template-columns: 1fr;
        }

        article:nth-child(3) {
            grid-column: span 2;
        }

        main picture {
            display: block;
        }

        main picture img {
            width: 100%;
            height: auto;
            border: 1px solid #bbb;
        }
        }

        /* Desktop Views ****************************/
        @media only screen and (min-width: 60em) {
            nav a {
                font-size: 1.1rem;
            }

            main {
                grid-template-columns: 1fr 1fr 1fr;
            }

            article:nth-child(3) {
                grid-column: span 1;
            }
        }